I am testing this jinja template file for user {{ user_name }}

My hostname is {{ hostname }} 
CPU Configurations = {{ ansible_processor }}
Host IP address = {{ ansible_all_ipv4_addresses }}
netmask OS version = {{ ansible_bios_version }}

